<h1 class="page-header">Account Login</h1>
<form method="post" action="/login">
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="text" class="form-control" name="password" placeholder="password">
  </div>
  
  <button type="submit" class="btn btn-default">submit</button>
  </form>